<h1>Chat</h1>

<div>
    <i id="user" class="user"></i> <input id="chatbox" class="chatbox">
</div>
<div id="logs" class="logs"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>